*.jl.*.cov
*.jl.cov
*.jl.mem
*~
.vscode/
/coverage/
/deps/deps.jl
/docs/Manifest.toml
/docs/build/
/docs/preview/
/docs/src/examples/*/*.ipynb
/docs/src/examples/*/*.md
/docs/src/readme/README.html
/docs/src/readme/README.ipynb
/docs/src/readme/README.md
/docs/src/readme/cholesky_dag.svg
/docs/src/readme/cholesky_trace.svg
/docs/src/readme/example_dag.svg
/references/**
/test/Manifest.toml
JuliaSysimage.dll
Manifest.toml
TiledFactorization
docs/.DS_Store
sandbox/*

# Ignore almost everything in slides
docs/slides/cafe-julia-2023/*
!docs/slides/cafe-julia-2023/main.tex
!docs/slides/cafe-julia-2023/figures

# Ignore almost everything in slides
docs/slides/juliacon-local-2023/*
!docs/slides/juliacon-local-2023/main.tex
!docs/slides/juliacon-local-2023/figures



